RewriteEngine On
RewriteBase /ProjetPec/public/

# Redirige /login vers index.php?action=login
RewriteRule ^login$ index.php?action=login [QSA,L]

# Redirige /register vers index.php?action=register
RewriteRule ^register$ index.php?action=register [QSA,L]

# Si la requête ne correspond à aucun fichier ou répertoire physique, redirige vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
